#experience_h1{
    text-align: center;
    font-weight: 300;
    color: #777;
}

.experience_container {
    width: 80%;
    padding: 50px 0;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

.experience_container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #ccd1d9;
    z-index: 1;
}

.timeline1-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline1-block-right {
    float: right;
}

.timeline1-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    /*border: 2px solid #f5f7fa;*/
    background: #9c7c38;
    margin-top: 10px;
    z-index: 9999;
}

.timeline1-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
}

.timeline1-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.timeline1-content span {
    font-size: 15px;
    color: #a4a4a4;
}

.timeline1-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}




/*=============================         Skills          ========================================   */

.wrapper1{
    background-color: whitesmoke;
    width: 80%;
    border-radius: 10px;

    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}


.wrapper1,
.copyright {
    padding: 20px;
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
    font-size: 1.8em;
}
/*Change icons circle size and color here*/
.skills_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.skills_icon {
    border-radius: 50%;
}
.skills_icon.icon-rounded .fa {
    border-radius: 5px;
}


.skills_icon .fa:hover,
.skills_icon .fa:active {
    color: #fff;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
.skills_icon.icon-zoom .fa:hover,
.skills_icon.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.skills_icon.icon-rotate .fa:hover,
.skills_icon.icon-rotate .fa:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}

.skills_icon {
    background-color: transparent;
    /*box-shadow: 2px 2px 5px 1px #ecedee;*/
}

@media screen and (max-width: 768px) {
    .experience_container:before {
        left: 8px;
        width: 2px;
    }
    .timeline1-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline1-block-right {
        float: none;
    }

    .timeline1-block-left {
        float: none;
        direction: ltr;
    }
}



