
.headline_part1 {
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: black;
}

.headline_part2{
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #7742f7;
}

.fa-solid{
    font-size: 40px;
    color: dodgerblue;
}


#dashboard{
    height: 95vh;
    width: 95vw;
    background-color: #e5e4e2;
}

#main_container{
    display: flex;
    align-items: center;
    justify-content: center;
}